<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!--
        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img th:src="@{/img/arrivel/arrivel_1.png}" alt="">
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="2">
                                    <div class="media-body">
                                        <p><span id="detail-name"></span> 디자이너</p>
                                        <p><span id="detail-title"></span></p>
                                        <p><span id="detail-content"></span></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span>서비스 가능 지역</span></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        -->
        <div class="container">
            <div class="section-top-border">
                <!--<h3 class="mb-30"></h3>-->
                <div class="row">
                    <div class="col-md-3">
                        <img th:src="@{/img/arrivel/arrivel_1.png}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p><span id="detail-name"></span> 디자이너</p>
                        <p><span id="detail-title"></span></p>
                        <p><span id="detail-content"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>