<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonBody">
    <!-- All JS Custom Plugins Link Here here -->
    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/animated.headline.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.js}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>

    <!-- contact js -->
    <script th:src="@{/js/contact.js}"></script>
    <script th:src="@{/js/jquery.form.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/mail-script.js}"></script>
    <script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <script type="text/javascript">
        // 아이디 유효성 검사 (숫자와 영문 가능)
        $.validator.addMethod('adminId_rule', function (value, element) {
            if (/^[a-zA-Z0-9]*$/.test(value)) {
                return true;
            } else {
                return false;
            };
        });

        // 비밀번호 유효성 검사
        /*
        알파벳, 숫자, 특수문자 혼 (6~20자)
        연속된 숫자 3개 이상 사용 불가능, 아이디 포함 불가
         */
        $.validator.addMethod('password_rule_1', function (value, element) {
            if (/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$/.test(value)) {
                return true;
            } else {
                return false;
            };
        });

        $.validator.addMethod('password_rule_2', function (value, element) {
            var o = 0;
            var d = 0;
            var p = 0;
            var n = 0;
            var limit = 3;

            for(var i=0; i < value.length; i++) {
                var tempVal = value.charAt(i);
                if(i > 0 && (p = o - tempVal) > -2 && (n = p == d ? n + 1 :0) > limit -3) {
                    return false;
                }
                d = p;
                o = tempVal;
            }
            return true;
        });

        $.validator.addMethod('password_rule_3', function (value, element) {
            if (value.indexOf($('#adminId').val()) >= 0) {
                return false;
            } else {
                return true;
            };
        });

        //input 숫자만 입력
        $(".numberOnly").on("keyup", function(event) {
            if (!(event.which && (event.which  > 47 && event.which  < 58 || event.which == 8))) {
                $(this).val($(this).val().replace(/[^0-9]/g,""));
            }
        });
    </script>
</th:block>
</html>