<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonBody">
    <!-- All JS Custom Plugins Link Here here -->
    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/animated.headline.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.js}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>

    <!-- contact js -->
    <script th:src="@{/js/contact.js}"></script>
    <script th:src="@{/js/jquery.form.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/mail-script.js}"></script>
    <script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <!-- Datepicker bootstrap -->
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.kr.min.js}"></script>

    <script type="text/javascript">
        // 특정 테이블의 row에 마우스 오버시 색상변경
        $( ".table tbody tr" ).on( "mouseover", function() {
            $( this ).css( "background-color", "#edf3fd" );
        });

        $(".table tbody tr" ).on( "mouseleave", function() {
            $( this ).css( "background-color", "white" );
        });

        // 아이디 유효성 검사 (숫자와 영문 가능)
        $.validator.addMethod('adminId_rule', function (value, element) {
            if (/^[a-zA-Z0-9]*$/.test(value)) {
                return true;
            } else {
                return false;
            };
        });

        // 비밀번호 유효성 검사
        /*
        알파벳, 숫자, 특수문자 혼 (6~20자)
        연속된 숫자 3개 이상 사용 불가능, 아이디 포함 불가
         */
        $.validator.addMethod('password_rule_1', function (value, element) {
            if (/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$/.test(value)) {
                return true;
            } else {
                return false;
            };
        });

        $.validator.addMethod('password_rule_2', function (value, element) {
            var o = 0;
            var d = 0;
            var p = 0;
            var n = 0;
            var limit = 3;

            for(var i=0; i < value.length; i++) {
                var tempVal = value.charAt(i);
                if(i > 0 && (p = o - tempVal) > -2 && (n = p == d ? n + 1 :0) > limit -3) {
                    return false;
                }
                d = p;
                o = tempVal;
            }
            return true;
        });

        $.validator.addMethod('password_rule_3', function (value, element) {
            if (value.indexOf($('#adminID').val()) >= 0) {
                return false;
            } else {
                return true;
            };
        });

        //input 숫자만 입력
        $(".numberOnly").on("keyup", function(event) {
            if (!(event.which && (event.which  > 47 && event.which  < 58 || event.which == 8))) {
                $(this).val($(this).val().replace(/[^0-9]/g,""));
            }
        });

        //alert
        var MsgBox = {
            /* Alert */
            Alert: function(msg, okhandler) {
                new Promise((resolve, reject) => {
                    $("#msg_popup #btn_confirm").hide();
                    $("#msg_popup #btn_alert").show();
                    $("#msg_popup #alert_ok").unbind();
                    $("#msg_popup .modal-body").html(msg);
                    $('#msg_popup').modal('show');
                    $("#msg_popup #alert_ok").click(function() {
                        $('#msg_popup').modal('hide');
                    });
                    $("#msg_popup").on("hidden.bs.modal", function(e) {
                        e.stopPropagation(); if(okhandler != null) resolve(); else reject();
                    });
                }).then(okhandler).catch(function() {});
                },

            /* Confirm */ Confirm: function(msg, yeshandler, nohandler) {
                new Promise((resolve, reject) => { var flag = false;
                    $("#msg_popup #btn_alert").hide();
                    $("#msg_popup #btn_confirm").show();
                    $("#msg_popup #confirm_yes").unbind();
                    $("#msg_popup #confirm_no").unbind();
                    $("#msg_popup .modal-body").html(msg);
                    $('#msg_popup').modal('show');
                    $('#msg_popup').on('keypress', function (e) {
                        var keycode = (e.keyCode ? e.keyCode : e.which); if(keycode == '13') {
                            flag = true;
                            $('#msg_popup').modal('hide');
                        }
                    });
                    $("#msg_popup #confirm_yes").click(function() {
                        flag = true;
                    });
                    $("#msg_popup #confirm_no").click(function() {
                        flag = false;
                    });
                    $("#msg_popup").on("hidden.bs.modal", function(e) { e.stopPropagation();
                        if(yeshandler != null && flag == true) resolve(1);
                        else if(nohandler != null && flag == false) resolve(2);
                        else reject();
                    });
                }).then(function(value) {
                    if(value == 1) yeshandler();
                    else if(value == 2) nohandler();
                }).catch(function() {});
            },
        }

        //콤마찍기
        function comma(str) {
            str = String(str);
            return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
        }

    </script>

    <!-- Alert, Confirm Modal -->
    <div class="modal" id="msg_popup" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                <!-- MSG Space-->
                </div>
                <div class="modal-footer" id="btn_confirm">
                    <button type="button" id="confirm_yes" class="genric-btn info-border radius" data-dismiss="modal" >확인</button>
                    <button type="button" id="confirm_no"class="genric-btn info-border radius" data-dismiss="modal">취소</button> </div>
                <div class="modal-footer" id="btn_alert">
                    <button type="button" id="alert_ok"class="genric-btn info-border radius" data-dismiss="modal" >확인</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>