<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="header">
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-3">
                            <div class="logo">
                                <a th:href="@{/}"><img width="150" th:src="@{/img/logo/Dogrooming_logo.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a th:href="@{/designer/list}">디자이너 찾기</a></li>
                                        <li><a th:href="@{reservation}">예약 조회</a></li>
                                        <li><a th:href="@{mypage}">마이페이지</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-lg-block"> <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn header-btn">로그인</a></li>
                                <li class="d-none d-lg-block"> <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn header-btn">로그아웃</a></li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

</header>
</html>