<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="metaTitle='Login'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">

    <!-- slider Area Start-->
    <div th:include="components/sliderArea :: sliderArea('디자이너 찾기')"></div>
    <!-- slider Area End-->

    <section class="product_list section_padding">
        <div class="container">
            <div>
                <div class="col-md-6">
                    <div class="product_sidebar">
                        <div class="single_sedebar">
                            <form action="#">
                                <input type="text" name="#" placeholder="지역, 디자이너 이름으로 검색하세요.">
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product_list">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_product_item">
                                    <img  th:src="@{/img/designer/image_000001.jpg}" alt="" class="img-fluid">
                                    <h3> <a href="single-product.html">황현지 디자이너</a> </h3>
                                    <p>청담동 10년 경력 디자이너의 취향저격 맞춤 디자이너</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_product_item">
                                    <img th:src="@{/img/designer/image_000002.jpg}" alt="" class="img-fluid">
                                    <h3> <a href="single-product.html">Geometric striped flower home classy decor</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_product_item">
                                    <img  th:src="@{/img/designer/image_000001.jpg}" alt="" class="img-fluid">
                                    <h3> <a href="single-product.html">Cervical pillow for airplane
                                        car office nap pillow</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_product_item">
                                    <img th:src="@{/img/designer/image_000002.jpg}" alt="" class="img-fluid">
                                    <h3> <a href="single-product.html">Geometric striped flower home classy decor</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_product_item">
                                    <img  th:src="@{/img/designer/image_000001.jpg}" alt="" class="img-fluid">
                                    <h3> <a href="single-product.html">Cervical pillow for airplane
                                        car office nap pillow</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_product_item">
                                    <img th:src="@{/img/designer/image_000002.jpg}" alt="" class="img-fluid">
                                    <h3> <a href="single-product.html">Geometric striped flower home classy decor</a> </h3>
                                    <p>From $5</p>
                                </div>
                            </div>
                        </div>
                        <div class="load_more_btn text-center">
                            <a href="#" class="btn_3">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
<!-- //content -->

</body>
</html>
