<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="metaTitle='Login'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" th:data-background="@{/img/category_dogrooming.png}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Login</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!--================login_part Area =================-->
    <form action="/login" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <section class="login_part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="username" name="username" maxlength="40" value="" placeholder="ID">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="password" name="password"  maxlength="40" value="" placeholder="Password">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="btn_3">
                                            log in
                                        </button>
                                    </div>

                                    <div class="col-md-12 row form-group">
                                        <a class="lost_pass col-md-4 col-4" href="#">아이디 찾기</a>
                                        <a class="lost_pass col-md-5 col-4" href="#">비밀번호 재설정</a>
                                        <a class="lost_pass col-md-3 col-4" th:href="@{signup}">회원가입</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!--================login_part end =================-->

    <script type="text/javascript">
        $(function (){

            $("form").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                // 체크할 항목들의 룰 설정
                rules: {
                    username: {
                        required : true,
                        minlength : 4
                    },
                    password: {
                        required : true,
                        minlength : 4
                    }
                },
                //규칙체크 실패시 출력될 메시지
                messages : {
                    username: {
                        required : "ID를 입력해주세요",
                        minlength : "최소 {0}글자 이상 입력해주세요."
                    },
                    password: {
                        required : "비밀번호를 입력해주세요",
                        minlength : "최소 {0}글자 이상 입력해주세요."
                    }
                }
            });
        })

    </script>

</th:block>
<!-- //content -->

</body>
</html>
