<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="metaTitle='예약조회'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">

    <!-- slider Area Start-->
    <div th:include="components/sliderArea :: sliderArea('예약 조회')"></div>
    <!-- slider Area End-->

    <!-- 예약 횟수, 금액 Start -->
    <section class="border-bottom mt-40">
        <div class="container box_1170">
            <h3 class="text-heading">
                <span class="text-md" th:text="${adminName}"></span>
                 고객님은
                <span class="text-primary text-md" th:text="${reservationList.totalElements}"></span>
                <span class="text-primary text-md">회</span>
                예약하셨고, 총
                <span class="text-primary text-md" th:text="${sumAmount}"></span>
                <span class="text-primary text-md">원</span>
                결제하셨어요.
            </h3>
        </div>
    </section>

    <form id="review_form" th:action="@{/review}" th:method="post">
        <input id="review_reservationId" name="review_reservationId" class="d-none">
    </form>

    <form id="form" th:action th:method="post">
        <input id="page" name="page" class="d-none" th:value="${reservationList.pageable.pageNumber}">

        <!-- 예약 횟수, 금액 End -->
        <section class="mt-40 mb-40">
            <div class="container box_1170">
                <label class="mr-10 mt-1">기간 선택</label>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-4">
                        <input type="text" id="dateFrom" name="dateFrom" class="form-control bg-white" th:value="${dateFrom}" readonly>
                    </div>
                    ~
                    <div class="col-lg-2 col-md-3 col-4">
                        <input type="text" id="dateTo" name="dateTo" class="form-control bg-white" th:value="${dateTo}" readonly>
                    </div>
                    <a href="javascript:$('#form').submit();" class="genric-btn info radius">조회</a>
                </div>
            </div>
        </section>
    </form>

    <!-- 예약조회 Start -->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive" >
                    <table class="table">
                        <tbody>
                        <tr th:if="${!reservationList.isEmpty()}" th:each="reservation : ${reservationList}" th:onclick="|javascript:reservationDetail(${reservation.getReservationId()});|">
                            <td>
                                <div class="media">
                                    <div>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="media-body">
                                    <div th:if="${reservation.reservationState == 1 and reservation.useState == 0}">
                                        <label class="mr-10" th:text="${reservation.seller_Admin.name + ' 디자이너'}"></label>
                                        <label class="text-primary mr-10" >진행 전</label>
                                        <a onclick="event.cancelBubble=true" th:href="|javascript: reservationCancel(${reservation.reservationId})|" class="genric-btn info radius small">예약 취소</a>
                                    </div>
                                    <div th:if="${reservation.reservationState == 2 and reservation.useState == 0}">
                                        <label class="mr-10" th:text="${reservation.seller_Admin.name + ' 디자이너'}"></label>
                                        <label class="text-primary mr-10" >진행 중</label>
                                        <a onclick="event.cancelBubble=true" th:href="|javascript: reservationComplete(${reservation.reservationId})|" class="genric-btn info radius small">예약 완료 처리</a>
                                    </div>
                                    <div th:if="${reservation.reservationState == 3 and reservation.useState == 0}">
                                        <label class="mr-10" th:text="${reservation.seller_Admin.name + ' 디자이너'}"></label>
                                        <label class="text-primary mr-10" >완료</label>
                                        <a onclick="event.cancelBubble=true" th:href="|javascript: goRegisterReview(${reservation.reservationId})|" class="genric-btn info radius small">리뷰 쓰기</a>
                                    </div>
                                    <div th:if="${reservation.useState == 1}">
                                        <label class="mr-10" th:text="${reservation.seller_Admin.name + ' 디자이너'}"></label>
                                        <label class="text-danger mr-10" >취소</label>
                                    </div>
                                    <div>
                                        <span class="small" th:text="${#calendars.format(reservation.reservationDate,'yyyy년 MM월 dd일 HH시 mm분')}"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <label class="small" th:text="${reservation.product.name}"></label>
                                </div>
                               <div>
                                   <label class="mr-2">결제</label><label th:text="${#numbers.formatInteger(reservation.product.amount, 0, 'COMMA')}"></label><label>원</label>
                                </div>
                            </td>
                        </tr>
                        <tr th:unless="${!reservationList.isEmpty()}">
                            <td colspan="3">
                                조회된 결과가 없습니다.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="blog_left_sidebar" th:if="${!reservationList.isEmpty()}">
            <nav class="blog-pagination justify-content-center d-flex"
                 th:with="
                        pageNumber = ${reservationList.pageable.pageNumber},
                        pageSize = ${reservationList.pageable.pageSize},
                        totalPages = ${reservationList.totalPages},
                        startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                        tempEndPage = ${startPage + pageSize - 1},
                        endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                    aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 처음으로 이동 -->

                    <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
                        <a class="page-link" onclick="javascript: page(0);">
                            <span>&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>

                    <!-- 이전으로 이동 -->
                    <li th:classappend="${reservationList.first} ? 'disabled'" class="page-item">
                        <a class="page-link" th:onclick="|javascript: ${reservationList.first} ? '#' : page(${pageNumber - 1})|" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <!-- 특정 페이지로 이동 -->
                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                        <a th:text="${page}" class="page-link" th:onclick="|javascript:page(${page - 1})|"></a>
                    </li>

                    <!-- 다음으로 이동 -->
                    <li th:classappend="${reservationList.last} ? 'disabled'" class="page-item">
                        <a class="page-link" th:onclick="|javascript:${reservationList.last} ? '#' : page(${pageNumber + 1})|" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                    <!-- 마지막으로 이동 -->
                    <li th:classappend=" ${T(Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
                        <a class="page-link" th:onclick="|javascript:page(${totalPages - 1})|">
                            <span>&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </section>
    <!-- 예약조회 End -->

    <!--================ 상세내역 Modal start ====================-->
    <div class="modal fade" id="modal_reservation_detail" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">예약 상세 내역</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section class="cart_area">
                        <div class="container">
                            <div class="cart_inner">
                                <label class="mr-10 mt-1">예약 정보</label>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div>
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-body">
                                                    <div>
                                                        <label class="mr-10" id="detail-name"></label>
                                                        <label class="text-primary mr-10" id="detail-status"></label>
                                                    </div>
                                                    <div>
                                                        <span class="small" id="detail-reservationDate"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <label class="small" id="detail-product-name"></label>
                                                </div>
                                                <div>
                                                    <label class="mr-2">결제</label><label id="detail-product-amount"></label><label>원</label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="cart_inner">
                                <label class="mr-10 mt-1">예약 장소</label>
                                <div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="media-body">
                                                    <div class="row">
                                                        <label class="col-3 small">우편 번호</label>
                                                        <label class="col-9 small" id="detail-postcode"></label>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-3 small">주소</label>
                                                        <label class="col-9 small" id="detail-address"></label>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-3 small">상세 주소</label>
                                                        <label class="col-9 small" id="detail-addressDtl"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--================ 상세내역 Modal end ====================-->

    <!-- //content -->

    <script th:inline="javascript">

        $(document).ready(function(){
            $('#dateFrom').datepicker({
                format: "yyyy-mm-dd",
                language: "kr",
                todayHighlight: true
            });

            $('#dateTo').datepicker({
                format: "yyyy-mm-dd",
                language: "kr",
                todayHighlight: true
            });

            //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
            $('#dateFrom').datepicker('setDate', [[${dateFrom}]]);
            $('#dateTo').datepicker('setDate', [[${dateTo}]]);
        });

        // 페이징
        function page(number){
            $('#page').val(number);
            $('#form').submit();
        }

        // 예약 상세 정보
        function reservationDetail(reservationId)
        {
            $.ajax({
                url: "/reservationDetail",
                type: "POST",
                data: {reservationId: reservationId},
                beforeSend : function(xhr)
                {
                    /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                    xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
                },
                success:function(data){
                    $('#detail-name').text(data.designerName + " 디자이너");

                    if(data.useState == 1)
                    {
                        $('#detail-status').text("취소");
                        $('#detail-status').addClass("text-danger");
                        $('#detail-status').removeClass("text-primary");
                    }
                    else {
                        $('#detail-status').addClass("text-primary");
                        $('#detail-status').removeClass("text-danger");

                        if(data.reservationState == 1)
                        {
                            $('#detail-status').text("진행 전");
                        }
                        else if(data.reservationState == 2)
                        {
                            $('#detail-status').text("진행 중");
                        }
                        else if(data.reservationState == 3)
                        {
                            $('#detail-status').text("완료");
                        }
                    }

                    $('#detail-product-amount').text(comma(data.amount));
                    $('#detail-reservationDate').text(data.reservationDate);
                    $('#detail-product-name').text(data.productName);
                    $('#detail-postcode').text(data.postcode);
                    $('#detail-address').text(data.address);
                    $('#detail-addressDtl').text(data.addressDtl);
                    $('#modal_reservation_detail').modal();
                },
                error:function(data){
                    MsgBox.Alert("오류 발생");
                }
            });
        }

        // 예약 취소
        function reservationCancel(reservationId)
        {
            MsgBox.Confirm("취소하시겠습니까?", function () {
                $.ajax({
                    url: "/reservationCancel",
                    type: "POST",
                    data: {reservationId: reservationId},
                    beforeSend : function(xhr)
                    {
                        /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
                    },
                    success:function(data){
                        MsgBox.Alert(data.message, function () {
                            $('#modal_reservation_detail').hide();
                            $('#form').submit();
                        });
                    },
                    error:function(data){
                        MsgBox.Alert("오류 발생");
                    }
                });
            });
        }

        // 예약 완료 처리
        function reservationComplete(reservationId)
        {
            MsgBox.Confirm("완료 처리하시겠습니까?", function () {
                $.ajax({
                    url: "/reservationComplete",
                    type: "POST",
                    data: {reservationId: reservationId},
                    beforeSend : function(xhr)
                    {
                        /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
                    },
                    success:function(data){
                        MsgBox.Alert(data.message, function () {
                            $('#modal_reservation_detail').hide();
                            $('#form').submit();
                        });
                    },
                    error:function(data){
                        MsgBox.Alert("오류 발생");
                    }
                });
            });
        }

        // 리뷰 등록 페이지로 이동
        function goRegisterReview(reservationId)
        {
            MsgBox.Confirm("리뷰를 작성하시겠습니까?", function () {
              $('#review_reservationId').val(reservationId);
              $('#review_form').submit();
            });
        }

    </script>

</th:block>
</body>
</html>
