<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="metaTitle='Sign Up'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">
    <!-- slider Area Start-->
    <div th:include="components/sliderArea :: sliderArea('회원가입')"></div>
    <!-- slider Area End-->

    <!--================SignUp Area =================-->
    <section class="checkout_area p-5">
        <div class="container">
            <div class="billing_details">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <form id="form" class="row contact_form" th:action="@{/signup}" method="post" novalidate="novalidate">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            <input type="hidden" name="adminID_chkflag" id="adminID_chkflag" th:value="N">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="adminID" name="adminID" placeholder="ID" maxlength="20" oninput="CheckAdminID()"/>
                                <span class="id_ok">사용 가능한 아이디입니다.</span>
                                <span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" maxlength="20" placeholder="비밀번호"/>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password_confirm" name="password_confirm" maxlength="40" placeholder="비밀번호 확인"/>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="name" name="name" maxlength="20" placeholder="이름"/>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="email" name="email" maxlength="50" placeholder="이메일"/>
                            </div>
                            <div class="col-md-8 form-group p_star">
                                <input type="text" class="form-control numberOnly" id="phone" name="phone" maxlength="20" placeholder="번호 (ex: 01012341234)" />
                            </div>
                            <div class="col-md-4 form-group p_star">
                                <button type="submit" value="submit" class="genric-btn info-border radius w-100">
                                    인증
                                </button>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="authno" name="authno" placeholder="인증번호를 입력하세요."/>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="btn_3 w-100">
                                    회원가입
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End SignUp Area =================-->

    <script type="text/javascript">
        $(function (){
            $("form").validate({
            submitHandler: function(form) {
                if($('#adminID_chkflag').val() != "Y"){
                    MsgBox.Alert("아이디를 확인해주세요.");
                    $('#adminID').focus();
                    return false;
                }

                MsgBox.Confirm("회원가입을 하시겠습니까?", function () {
                    form.submit();
                });
            },
            // 체크할 항목들의 룰 설정
            rules: {
                adminID: {
                    required : true,
                    minlength : 6,
                    adminID_rule : true
                },
                password: {
                    required : true,
                    minlength : 6,
                    password_rule_1 : true,
                    password_rule_2 : true,
                    password_rule_3 : true
                },
                password_confirm: {
                    required : true,
                    minlength : 4,
                    equalTo : password
                },
                name: {
                    required : true,
                    minlength : 2
                },
                email: {
                    required: true,
                    minlength: 2,
                    email: true
                },
                phone : {
                    required : true,
                    minlength : 9
                }
            },
            //규칙체크 실패시 출력될 메시지
            messages : {
                adminID: {
                    required : "ID를 입력해주세요.",
                    minlength : "최소 {0}글자 이상 입력해주세요.",
                    adminID_rule : "영문 혹은 숫자만 입력해주세요."
                },
                password: {
                    required : "비밀번호를 입력해주세요.",
                    minlength : "최소 {0}글자 이상 입력해주세요.",
                    password_rule_1 : "하나 이상의 알파벳, 숫자, 특수문자를 사용해주세요.",
                    password_rule_2 : "연속된 숫자 3개 이상 사용이 불가합니다.",
                    password_rule_3 : "아이디를 포함한 비밀번호는 사용이 불가합니다."
                },
                password_confirm: {
                    required : "비밀번호 확인을 입력해주세요.",
                    minlength : "최소 {0}글자 이상 입력해주세요.",
                    equalTo : "비밀번호가 일치하지 않습니다."
                },
                name: {
                    required : "이름를 입력해주세요.",
                    minlength : "최소 {0}글자 이상 입력해주세요."
                },
                email: {
                    required : "이메일을 입력해주세요.",
                    minlength : "최소 {0}글자 이상 입력해주세요.",
                    email : "메일을 확인해주세요."
                },
                phone: {
                    required : "번호를 입력해주세요.",
                    minlength : "최소 {0}글자 이상 입력해주세요."
                }
            }
            });
        })

        function CheckAdminID(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var adminID = $('#adminID').val();

            if(adminID.length >= 6 && /^[a-zA-Z0-9]*$/.test(adminID)) {
                // 아이디 중복 체크
                $.ajax({
                    url:'/check_adminid',
                    type:'post', //POST 방식으로 전달
                    data:{adminID:adminID},
                    beforeSend : function(xhr)
                    {
                        /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    success:function(data){
                        if(data == false)
                        {
                            $('.id_ok').css("display","inline-block");
                            $('.id_already').css("display", "none");
                            $('#adminID_chkflag').val("Y");
                        }
                        else
                        {
                            $('.id_already').css("display","inline-block");
                            $('.id_ok').css("display", "none");
                            $('#adminID_chkflag').val("N")
                        }
                    },
                    error:function(){
                        alert("에러 발생");
                    }
                });
            }
            else
            {
                $('.id_already').css("display","none");
                $('.id_ok').css("display", "none");
                $('#adminID_chkflag').val("N")
            }
        };

    </script>
</th:block>

</body>
</html>